@font-face {
    font-family: 'PTSansRegular';
    src: url("./assets/fonts/PTSansRegular.ttf") format('truetype')
}
@font-face {
    font-family: 'PTSansbold';
    src: url("./assets/fonts/PTSansbold.ttf") format('truetype')
}